# Copy to .env and populate with your GitLab values
GITLAB_API_TOKEN=glpat-xxxxxxxxxxxxxxxxxxxx
GITLAB_PROJECT_PATH=matt/website
GITLAB_API_BASE=https://gitlab.goober.cloud/api/v4
ISSUE_LABELS=techjournal
ALLOWED_ORIGINS=https://website.example.com
ENABLE_MERGE_REQUESTS=true
GITLAB_MR_TARGET_BRANCH=main
GITLAB_MR_FILE_DIR=incoming-techjournals
