---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { promises as fs } from "fs";
import path from "path";

const filePath = path.join(process.cwd(), "src/data/ai-responses.md");
const fileContents = await fs.readFile(filePath, "utf8");
const responses = fileContents.split("\n").filter(Boolean); // filter(Boolean) removes empty lines
const randomResponse = responses[Math.floor(Math.random() * responses.length)];
---

<Layout>
	<Navbar />
	<main>
		<h1>Matt C</h1>
		<p>✨{randomResponse}✨</p>

		<h2 style="color:yellow;">Support right to repair, be a Clippy!</h2>
		<a href="https://www.youtube.com/watch?v=2_Dtmpe9qaQ">snip</a>

		<h2>Stuff I've Done</h2>
		<ul>
			<li>
				<a href="https://getcryst.al">Crystal Linux</a>, an Arch based
				Linux distribution
			</li>
			<li><a href="https://goober.cloud">Goober.Cloud</a></li>
			<li>
				Discord.py bot <a
					href="https://github.com/SomethingGeneric/GamerbotAgain/"
					>Gamerbot</a>
			</li>
			<li>
				Many others on my <a href="https://github.com/SomethingGeneric"
					>GitHub</a
				> or my <a href="https://forge.goober.cloud/matt"
					>Forgejo Instance</a>
			</li>
		</ul>
		<h2>Where else am I?</h2>
		<ul>
			<li>
				<a href="https://www.linkedin.com/in/matt-compton-a06243220"
					>LinkedIn</a>
			</li>
			<li>
				<a
					href="https://docs.google.com/document/d/1DnYIzam28i1XA539HbV1L0TYgKv_BUmVXJM7WnJIEUk/edit?usp=sharingg"
					>Resume</a>
			</li>
			<li>
				<a href="https://forge.goober.cloud/matt">My Forgejo (personal git server)</a>
			</li>
			<li><a href="https://github.com/SomethingGeneric">GitHub</a></li>
			<li>
				<a
					href="https://www.cybertechvt.com/index.php/2023/04/27/vaultwarden/"
					>Blog Posts for CyberTechVT</a>
			</li>
		</ul>
		<h2>Technology-related Events</h2>
		<ul>
			<li>
				Captain of, and Competed on the Champlain College <a
					href="https://www.nationalccdc.org/">CCDC</a
				> Team at the <a href="https://neccdl.org/">NECCDC</a> Regionals
			</li>
			<li>
				Competed in the <a href="https://ncaecybergames.org/"
					>NCAE Cyber Games</a
				> online event, and National Invitational
			</li>
			<li>One Hackathon at Montgomery Blair HS</li>
			<li>
				Two <a href="https://www.congressionalappchallenge.us/"
					>Congressional App Challenges</a>
			</li>
			<li>Cybersecurity challenge sponsored by Montgomery College</li>
		</ul>
		<br/>
	</main>
</Layout>
