---
import '../styles/global.css';

const currentYear = new Date().getFullYear();
const buildDate = new Date().toLocaleString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
  hour12: false,
  timeZone: 'America/New_York'
});
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>matt c</title>
		<link rel="icon" href="/images/siseor.jpg" />
	</head>
	<body>
		<main>
			<slot />
		</main>
		<footer>
			<p>please contact me if you notice anything missing or broken on this site</p> 
			<p>or just make an issue/PR on <a href="https://fj.mattcompton.dev/matt/website">the source repo</a></p>
			<p>copyright matt c {currentYear}</p>
			<p>site last built at {buildDate}</p>
		</footer>
	</body>
</html>
